.wrap_list {
    height: 800px;
}

.list {
    border-collapse: collapse;
    width: 100%;
}

.list_menu th, .list_menu td, .mini_list_menu th, .mini_list_menu td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.list_menu > th:nth-child(2) {
    min-width: 500px;
    width: auto;
}
.list_menu > td:nth-child(2) {
    min-width: 500px;
    width: auto;
}

.mini_list {
    border-collapse: collapse;
    width: 300px;
    align-items: center;
}

